body{
    background-color: #B7CCCF;
}
.gridExercise{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 25% 60% 15%;
    height: 100%;
    /*justify-content: flex-start;*/    
}

.largeBox{
    text-align: center;
    grid-column: 1/3;
    font-weight: bold;

    background-image: url(Assets/portrait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boxMain{
    font-family: sans-serif;
    text-align: center;
    padding: 5%;
    align-content: center;
}

.boxLinks{
    font-family: sans-serif;
    text-align: center;
    padding: 5%;
    align-content: center;
    justify-content: center;
}

.box{
    text-align: center;    
}

.imagenCircular {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.centered-content{
    margin: 0 auto;   
}

.card-title{
    text-align: center;
}

.title{
    text-align: center;
}

.navbar-brand{
    font-weight: bold;
}

.logo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}